/* Style for Midterm Project
Zoe Scott, 4/1/2025*/

/*Mobile styles go first */

p {color: white;}

#bio {background-color: white;
	color: black;
	text-align: center;
	margin: auto;
	margin-top: 1em;}

h2 {background-color: #11374F;
	width: 50%;
	text-align: center;
	margin: 0 auto;
	margin-top: 1em;
	color: white;}

.socials {text-align: center;}
.socialslist {display: inline-block;
	text-align: left;}

.classes {text-align: center;}
.class {display: inline-block; 
	text-align: left;}
	
.projects {text-align: center;}
.project {display: inline-block;
text-align: left;}

.jupiter {margin: auto;
	height: 350px;
	padding: 8px 8px 8px 8px;}
	
.downloadlink {text-align: center;}

.resume img {height: 600px;}

.download {text-align: center;
	width: 15%;
	margin: 0 auto;
	background-color: #11374F;}

a:link {color: white;}	
a:visited {color: silver;}
a:active {color: silver;}

/*Tablet styles go second */
@media (min-width: 600px) {
nav {font-size: 1.5em;}
}


/*Desktop styles go last */
@media (min-width: 800px) {
p {background-color: #11374F;
	width: 15%;
	font-size: 1.25em;}



nav {font-size: 1.5em;}

}

body {text-align: center;
	background-color: #1F4959;
		justify-content: center;}
	
h1 {color: white;}

#wrapper {display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	flex-flow: row wrap;
	justify-content: space-around;
	text-align: center;}
	
#wrapper img {height: 250px;}
			
img {margin: 1em;}
			
#bio {background-color: white;
	color: black;
	text-align: center;}


